<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Typ</th>
        <th scope="col">Wartość</th>
        <th scope="col">Aktywnośc</th>
        <th scope="col">Id domu</th>
        <th scope="col">Operacja</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of allSensors$ | async">
          <td>{{p.sensorId}}</td>
        <th scope="row">Do zrobienia</th>
        <td>{{p.temperature}} {{p.humidity}} {{p.smoke}} {{p.isMove}} </td>
        <td>{{p.isOn}}</td>
        <td>{{p.houseId}}</td>
        <td>
            <button type="button" class="btn btn-primary">Edytuj</button>
            <button type="button" class="btn btn-primary">Usuń</button>
        
        </td>
      </tr>
    </tbody>
  </table>